.wrapper{
    background-color: #ff3706 ;
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg,#F17C58, #E94584 , #24AADB, #27DBB1 , #FFDC18, #ff3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
.wrapper5{
    background-color: #ff3706 ;
    
    background: linear-gradient(45deg,#03bcff, #7739eb ,#0ef03f );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
.wrapper2{
    background-color: #ff3706 ;
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg,#03bcff, #7739eb ,#0ef03f );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
.wrapper3{
    background-color: #ff3706 ;
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg,#ec2fb3, #e9e636 );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: reverse;
}
.wrapper4{
    background-color: #ff3706 ;
    width: 100%;
    height: 400px;
    background: linear-gradient(45deg,#60cdff, #d1ff51 );
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: unset;
}

@keyframes gradient{
    0% {background-position: 0% }
    100% {background-position: 100% }
}
span{
    background-color: #F17C58;
}
.imageSize{
    height: 250px;
    width: 280px;
    padding: 10px 20px 0px 20px;
    border-radius: 50%; 
   
}

.textSize{
    font-size: 50px;
}
.serviceSize{
    height: 300px;
    width: 400px;
    background-color: #ff3706;
}

.textJust{
    text-align: justify;
    text-justify: inter-word;
}